.page
  margin-top: 50px
  margin-bottom: 50px

.header-top
  height: 50px
  background-color: $header-top-bg-color
  display: flex
  align-items: center
  border-bottom: 3px solid #8f89ff
  position: fixed
  top: 0
  width: 100%
  z-index: 3

.header-top-inner
  position: relative
  display: flex
  align-items: center

.header-top__theme-switch
  order: 2
  margin-right: 15px

.header-top__logo
  order: 1

.header-top__search
  order: 1
  margin-left: auto
  margin-right: 15px

.header-top__buttons--desktop
  display: none

.header-bottom__theme-switch,
.header-bottom__search
  display: none

.header-bottom
  display: flex
  align-items: center

.header-bottom-inner
  display: flex
  align-items: center

.header-bottom-inner--mobile
  .header-bottom__menu-list
    display: flex
    flex-direction: column
    list-style-type: none
    padding-left: 0

.header-bottom__menu
  display: none

.header-bottom__menu.active
  display: block

.header-bottom__menu-list-item
  width: 100%
  display: flex
  align-items: flex-end
  flex-direction: row-reverse
  justify-content: start
  margin-right: 25px
  color: $header-menu-color
  font-size: 14px
  text-transform: uppercase
  border-bottom: 1px solid #ebebeb
  padding: 10px 5px
  font-weight: 700

  .to-down-btn
    margin-right: 10px
    vertical-align: middle

.header-bottom__menu-list-item-categories,
.header-bottom__menu-list-item-subcategories
  background-color: #ffffff
  list-style-type: none
  padding-left: 0

.header-bottom__menu-list-item-subcategories
  border-left: 2px solid #8f89ff

.header-bottom__menu-category,
.header-bottom__menu-subcategory
  display: flex
  align-items: center
  color: #000000
  font-weight: 500
  font-size: 14px
  height: 40px
  padding: 10px 5px

  .to-down-btn
    margin-left: auto

.header-bottom__menu-category
  border-bottom: 1px solid #ebebeb
  padding-right: 0

.header-bottom__menu-list-item.show-styles
  color: #8f89ff

  .to-down-btn
    transform: rotate(180deg)

    path
      fill: #8f89ff

.header-bottom__menu-category.show-styles
  color: #3333D2
  text-decoration: underline

  .to-down-btn
    transform: rotate(180deg)

    path
      fill: #3333D2

.header-top__burger-menu-container
  display: none

.header-top__burger-menu
  display: block
  position: absolute
  width: 18px
  height: 12px
  z-index: 3
  left: 0
  top: 50%
  transform: translate(0, -50%)

  .header-top__burger-menu-lines
    position: absolute
    background-color: $burger-menu-bg-color
    left: 0
    width: 100%
    height: 2px
    top: 5px
    transition: all .3s ease 0s

  &::before,
  &::after
    content: ''
    background-color: $burger-menu-lines-color
    position: absolute
    width: 100%
    height: 2px
    left: 0
    transition: all .5s ease 0s

  &::before
    top: 0

  &::after
    bottom: 0

  &.active
    &::before
      transform: rotate(45deg)
      top: 5px
      background-color: $burger-menu-lines-color

    &::after
      transform: rotate(-45deg)
      bottom: 5px
      background-color: $burger-menu-lines-color

    .header-top__burger-menu-lines
      transform: scale(0)

//HEADER BURGER MENU MOBILE
.header-top__burger-menu-nav
  display: none

.mobile-menu-button-container
  position: relative
  order: 2
  width: 30px
  height: 30px
  background-color: #555555
  border-radius: 2px

  .header-top__burger-menu
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

.mobile-menu-button-container.active
  background-color: #8f89ff

.dropdown-content
  display: none
  position: initial
  z-index: 1

.dropbtn-mobile__content.active
  width: 100%
  display: flex
  flex-direction: column

.dropbtn-mobile-menu__category
  width: 100%
  color: #111111
  font-size: 15px
  font-weight: 500
  padding: 15px 0

.show-styles
  display: flex

// === TOP SECTION ==============================
.top__heading
  font-size: 22px

.top-content__news-category,
.top-content__text,
.top__content__stats,
.top-content__btn
  display: none

// === TOP NEWS SECTION ==============================
.top-news
  display: none

.top-news--mobile__slider
  overflow: hidden

.top-news--mobile__swiper-wrapper
  display: flex

.top-news-item--mobile__slide
  position: relative
  width: 200px
  height: 110px
  flex-shrink: 0

.top-news-item--mobile__text
  display: block
  width: 100%
  text-align: center
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  font-size: 14px
  color: #ffffff
  font-weight: 700

// === NEWS BLOCKS ==============================
.sidebar-news-block
  display: none

// === LATEST NEWS SECTION ==============================
.main-news-block
  width: 100%
  margin-bottom: 25px
  margin-right: 30px

.latest-news__container
  position: relative

.latest-news__tabs-hide-btn
  position: absolute
  top: 50%
  right: 0
  transform: translate(0, -50%)
  font-size: calc(12px + 2 *(100vw - 320px) / (1440 - 320))
  color: $tabs-color
  background-color: transparent
  cursor: pointer
  display: none

.latest-news__tabs
  padding: 5px 15px
  @include border-light

.latest-news__tabs-control
  display: flex
  height: 55px
  @include border-bottom-light

  .tabs__tab
    display: block
    width: 145px
    white-space: nowrap
    font-size: calc(14px + 2 *(100vw - 320px) / (1440 - 320))
    background-color: transparent
    cursor: pointer
    color: $tabs-color
    margin-right: 20px
    border-bottom: 5px solid transparent

    &:hover
      color: $main-text-color
      font-weight: 700

  .tabs__tab--current
    border-bottom: 5px solid $tabs-current-border-bottom-color
    font-weight: 700
    color: $main-text-color

  .tabs__tab--desktop
    display: none

  .tabs__tab-arrow--mobile
    vertical-align: middle

.latest-news__tabs-inner
  list-style-type: none
  margin: 0
  padding: 25px 0 5px 0

.latest-news__list-item
  margin-bottom: 10px

.latest-news__list-items--extra
  display: none

.latest-news__time
  color: $tabs-list-mobile-color
  font-size: calc(13px + 3 *(100vw - 320px) / (1440 - 320))
  margin-right: 10px

.latest-news__title
  font-size: calc(14px + 2 *(100vw - 320px) / (1440 - 320))
  color: $main-text-color
  @include text-hover-underline

.latest-news__show-more-btn
  color: $tabs-show-more-btn
  background-color: transparent
  font-size: calc(14px + 2 *(100vw - 320px) / (1440 - 320))
  cursor: pointer
  display: none

  .arrow-to-down-2
    vertical-align: middle

.sidebar-news-block
  width: 370px

// === ALL NEWS SECTION ==============================
.all-news__heading
  display: block
  padding-bottom: 8px
  margin-bottom: 0
  @include border-bottom-light

.all-news__block
  margin-bottom: 20px

.all-news__img-wrapper
  width: 320px
  height: 155px
  display: block
  flex-shrink: 0

.all-news__item
  position: relative
  display: flex
  flex-direction: column-reverse
  margin-bottom: 10px
  padding-bottom: 40px
  border-bottom: 8px solid #e8e8e8

  &:last-child
    margin-bottom: 0

.all-news__item--desktop
  display: none

.all-news__category
  display: none

.all-news__content-stats
  position: absolute
  bottom: 0
  margin: 10px 0

.all-news__content-icon--mobile
  vertical-align: middle

// === POPULAR TOPIC SECTION ==============================
.popular-topic
  background-image: url('../images/popular-topic-bg.png')
  background-size: cover
  padding: 20px 25px

.popular-topic__label
  display: inline-block
  background: linear-gradient(0deg, rgba(67, 67, 213, 0.5), rgba(67, 67, 213, 0.5)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(315deg, #4c969c 0.16%, #bd82c6 99.84%)
  color: $popular-topic-label-color
  border-radius: 4px
  font-size: 14px
  text-transform: uppercase
  padding: 10px 14px

.popular-topic__heading
  font-size: 26px
  color: $popular-topic-text-color
  font-weight: 700

.popular-topic__list
  list-style-type: square
  color: $popular-topic-text-color
  padding-left: 15px
  margin-bottom: 25px

.popular-topic__list-item
  margin-bottom: 15px

.popular-topic__list-item-link
  color: $popular-topic-text-color
  font-size: 16px
  font-weight: 500
  @include text-hover-underline

.popular-topic__btn
  color: $popular-topic-btn-color
  font-size: 16px
  font-weight: 500
  @include text-hover-underline

// === MAIN NEWS EXTRA MOBILE SECTION ==============================
.main-news-extra--mobile
  display: block

.main-news-extra--mobile__btn
  background-color: $main-news-extra--mobile__btn
  border: 1px solid $main-news-extra--mobile__btn-border
  box-sizing: border-box
  border-radius: 1px
  width: 100%
  text-align: center
  margin-top: 10px
  margin-bottom: 25px

// === NEWS WITH PAGINATION SECTION ==============================
.news-with-pagination
  display: none

// === NEWS CATEGORIES SECTION ==============================
.news-categories-block
  display: none

// === VIDEOS SECTION ==============================
.videos-extra-container
  background-color: $videos-section-bg-color
  padding: 10px 0

.videos__heading
  font-size: 22px
  font-weight: 700
  @include text-hover-underline

.videos__top
  position: relative
  display: flex
  flex-direction: column
  margin-bottom: 20px
  padding-bottom: 50px
  border-bottom: 2px solid #8d8df8

.videos__top-content-stats
  position: absolute
  display: inline-block
  bottom: 0

.videos-stats__dot--desktop
  display: none

.videos__top-category
  display: none

.videos__top-video-wrapper
  position: relative
  display: block
  width: 290px
  height: 160px
  flex-shrink: 0

.play-circle
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.videos__block-item--desktop
  display: none

.videos__block-item-wrapper
  position: relative
  display: block
  width: 300px
  height: 180px

.videos__block-item-img
  filter: brightness(90%)

.videos__block-item-heading
  margin-right: 25px

.videos-all-btn-wrapper,
.latest-blog-news__btn-wrapper
  display: flex
  justify-content: center
  margin-top: 25px

.videos-all-btn,
.latest-blog-news__btn
  width: 100%
  text-align: center
  padding: 15px 0
  border: 1px solid $main-btn-border-color-light
  border-radius: 1px

.latest-blog-news__btn
  display: none

// === LATEST BLOG NEWS ==============================
.latest-blog-news
  margin-top: 40px
  margin-bottom: 10px

.latest-blog-news__slider-slide
  position: relative
  width: 290px

.latest-blog-news__slider-img-wrapper
  display: block
  width: 240px
  height: 290px

.latest-blog-news__username-link
  display: block
  position: absolute
  font-size: 12px
  top: 240px
  left: 15px
  padding: 8px 10px
  color: $username-color
  background-color: $username-bg-color
  border-radius: 4px
  font-weight: 500

.latest-blog-news__slider
  overflow: hidden

.latest-blog-news__slider-wrapper
  display: flex

.latest-blog-news__slider-pagination
  position: relative
  height: 6px
  background-color: $latest-blog-news-pagination-bg
  border-radius: 4px

  .swiper-pagination-progressbar-fill
    background-color: $latest-blog-news-pagination-progress
    border-radius: 4px
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    transform-origin: left top

// === FILES SECTION ==============================
.files
  display: none

// === AUTHORS TEAM SECTION ==============================
.authors-team
  display: none

// === IT NEWS ==============================
.it-news
  display: none

// === FOOTER ==============================
.footer
  position: fixed
  height: 50px
  background-color: #fff
  bottom: 0px
  left: 0px
  right: 0px
  @include border-top-light

.footer--mobile
  padding-left: 0
  padding-top: 3px
  list-style-type: none
  display: flex
  align-items: center
  justify-content: space-between
  align-items: end
  margin: 0

.footer--mobile__item-icon
  display: block
  margin-bottom: 5px

.footer--mobile__item-link
  display: flex
  flex-direction: column
  align-items: center
  color: $footer--mobile__item
  font-size: 10px

.footer--mobile__item:hover .footer--mobile__item-link
  color: $footer--mobile__item-hover

.footer--mobile__item:hover .footer--mobile__item-icon path
  fill: $footer--mobile__item-hover

.footer-top-extra-container,
.footer-bottom-extra-container
  display: none

.show
  display: block !important

  .arrow-to-down-2 path 
    fill: #777777

// === MEDIA QUERIES =========
@media (min-width: 320px)
  .container
    margin-left: auto
    margin-right: auto
    width: 300px

  .latest-news__tabs
    border: none

  .latest-news__contents
    margin-bottom: 20px

  .all-news__block,
  .main-news-extra--mobile
    overflow: hidden

@media (min-width: 425px)
  .container
    width: 400px

  .all-news__img-wrapper
    width: 100%
    height: auto

  .videos__block-item
    width: 100%

  .videos__top-video-wrapper,
  .videos__block-item-wrapper
    width: 100%
    height: auto

@media (min-width: 576px)
  .container
    width: 540px

@media (min-width: 768px)
  .container
    width: 720px

  .latest-news__tabs-control
    .tabs__tab--desktop
      display: inline-block

  .all-news__heading
    padding-bottom: 0
    border-bottom: 0
    margin: 10px 0

  .all-news__item
    flex-direction: row
    border-bottom: 0
    padding-bottom: 0
    margin-bottom: 25px

  .all-news__img-wrapper
    width: 255px
    height: 190px
    margin-right: 15px

  .all-news__content-stats
    position: initial

  .all-news__content-icon--mobile
    display: none

  .main-news-block
    width: 700px

@media (min-width: 992px)
  .page
    margin-top: 0
    margin-bottom: 0

  .container
    width: 960px

  .main-btn__arrow--rotate
    transform: rotate(-90deg)

  // === HEADER ==============================
  .header-top
    position: initial
    //top: initial
    border-bottom: 0

  .header-top__theme-switch
    display: none

  .header-top__search
    display: none

  .header-bottom
    height: 45px

    .header-bottom__menu-list
      flex-direction: row
      align-items: baseline
      list-style-type: none
      padding-left: 0
      margin: 0

    .to-down-btn
      display: inline-block

  .header-bottom__menu
    display: block

  .header-bottom__menu-list
    display: flex
    flex-direction: row
    list-style-type: none

  .header-bottom__menu-list-item
    width: auto
    flex-direction: row
    border-bottom: 0

  .dropdown-content
    position: absolute

  .header-bottom__menu-category,
  .header-bottom__menu-subcategory
    width: 320px
    padding: 10px

  .header-bottom__search
    display: block
    margin-left: auto

  .header-bottom__theme-switch
    display: block
    margin-left: 8px

  .mobile-menu-button-container
    display: none

  .dropdown-mobile-menu
    display: none

  .header-top__buttons--desktop
    display: block
    margin-left: auto
    order: 1

  .header-top__logo
    order: 0
    margin-left: 20px

  .header-top__burger-menu-container
    display: block
    order: -1
    width: 18px
    background-color: transparent

  .header-top__burger-menu-container.active
    background-color: transparent

  .header-top__btn
    display: inline-block
    padding: 6px 16px
    color: $header-btn-text-color
    font-size: 14px
    border: 1px solid transparent
    border-radius: $header-btn-boder-radius
    font-weight: 500

    &:hover
      border-color: $header-btn-boder-color

  .burger-menu__list
    margin: 0
    list-style-type: none
    padding-left: 0

  .burger-menu__list-item
    display: flex
    align-items: center
    height: 60px
    width: 305px

    &:hover
      background-color: $burger-menu-list-item-hover

  .burger-menu__list-item:hover .burger-menu__list-svg
    filter: grayscale(100%)

  .burger-menu__list-item-icon
    margin: 0 10px

  .burger-menu__list-item-info
    margin-bottom: 2px

  .burger-menu__list-item-name
    display: block
    font-size: 18px
    color: $main-text-color
    font-weight: 700

  .burger-menu__list-item-descr
    display: block
    font-size: 14px
    color: $burger-menu-list-item-descr-color

  .header-top__burger-menu-nav
    position: fixed
    overflow: auto
    top: -200%
    transition: all 1s ease 0s
    background-color: $burger-menu-bg-color
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.355028)
    padding: 8px

  .header-top__burger-menu-nav.active
    position: absolute
    top: 50px
    display: flex
    align-items: center
    justify-content: center
    z-index: 2

  .burger-menu__list
    display: block

  // ==== HEADER BURGER MENU ==============================
  .burger-menu__list
    margin: 0
    list-style-type: none
    padding-left: 0

  .burger-menu__list-item
    display: flex
    align-items: center
    height: 60px
    width: 305px

    &:hover
      background-color: $burger-menu-list-item-hover

  .burger-menu__list-item:hover .burger-menu__list-svg
    filter: grayscale(100%)

  .burger-menu__list-item-icon
    margin: 0 10px

  .burger-menu__list-item-info
    margin-bottom: 2px

  .burger-menu__list-item-name
    display: block
    font-size: 18px
    color: $main-text-color
    font-weight: 700

  .burger-menu__list-item-descr
    display: block
    font-size: 14px
    color: $burger-menu-list-item-descr-color

  .header-top__burger-menu
    left: 0
    top: 50%
    transform: translate(0, -50%)

  .header-top__burger-menu-nav
    position: fixed
    overflow: auto
    top: -200%
    transition: all 1s ease 0s
    background-color: $burger-menu-bg-color
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.355028)
    padding: 8px

  .header-top__burger-menu-nav.active
    position: absolute
    top: 50px
    left: 0
    display: flex
    align-items: center
    justify-content: center
    z-index: 2

  .burger-menu__list
    display: block

  // === TOP SECTION ==============================
  .top
    padding-bottom: 20px

  .top__inner
    display: flex

  .top-img-wrapper
    display: block
    width: 500px
    height: auto
    flex-shrink: 0

  .top-content
    margin-left: 25px

  .top-content__news-category
    margin: 0
    display: inline-block

  .top-content__heading
    margin: 20px 0
    font-size: 24px
    font-weight: 700

  .top-content__text
    font-size: 14px
    display: block

  .top-content__btn
    display: inline-block

  // === TOP NEWS SECTION ==============================
  .top-news--mobile
    display: none

  .top-news
    display: flex
    justify-content: space-between
    margin-bottom: 50px

  .top-news-item
    width: 230px

  .top-news__img-wrapper
    display: block
    height: auto

  .top-news__category
    color: $news-category-color
    margin: 10px 0
    font-weight: 500
    @include text-hover-underline

    &:hover
      color: $top-news-category-hover
      text-decoration-color: $top-news-category-hover

    &:visited
      color: $top-news-category-visited

  // === NEWS BLOCKS ==============================
  .main-news-block
    width: 840px

  .news-blocks
    display: flex

  .sidebar-news-block
    display: block

  .tabs__tab-arrow--mobile
    display: none

  .latest-news__tabs
    padding: 10px 25px
    @include border-light

  .latest-news__list-item
    margin-left: 20px

  .latest-news__show-more-btn
    margin-left: 10px

  // === LATEST NEWS SECTION ==============================
  .latest-news__tabs-inner
    list-style-type: square

  .latest-news__time
    color: $tabs-list-desktop-color

  // === ALL NEWS SECTION ==============================
  .all-news__item
    flex-direction: row
    position: initial
    border-bottom: none

  .all-news__item--desktop
    display: flex

  .all-news__category
    display: inline-block

  .all-news__content
    margin-left: 10px

  .all-news__content-stats
    position: initial

  // === MAIN NEWS EXTRA MOBILE SECTION ==============================
  .main-news-extra--mobile
    display: none

  // === POPULAR NEWS SECTION (ASIDE) ==============================
  .popular-news__img-wrapper
    display: block
    width: 90px
    height: 90px
    flex-shrink: 0
    margin-right: 15px
    margin-bottom: 15px

  .popular-news__item
    display: flex

  // === DISCUSS NEWS SECTION (ASIDE) ==============================
  .discuss-news
    margin-top: 40px

  .discuss-news__wrapper
    padding: 10px 20px 0 20px
    @include border-light

  .discuss-news__user-img-wrapper
    width: 32px
    height: 32px

  .discuss-news__comment-block
    padding-bottom: 10px
    @include border-bottom-light

    &:last-child
      border-bottom: 0

  .discuss-news__user
    padding-top: 5px
    display: flex
    align-items: center

  .discuss-news__user-name
    display: block
    margin: 0 8px
    font-size: 14px
    font-weight: 500
    @include text-hover-underline

  .discuss-news__text
    display: block
    padding: 10px
    margin-top: 5px
    color: $main-text-color
    font-size: $main-text-fsz
    background-color: $comment-bg-color
    border-radius: 4px
    line-height: 1.3

    &:hover
      background-color: $comment-bg-color-hover

  .discuss-news__source
    font-size: 14px
    font-weight: 500
    @include text-hover-underline

  .discuss-source-link
    padding: 10px
    display: block

  // === POPULAR TOPICS SECTION (ASIDE) ==============================
  .popular-topics__heading
    font-size: 22px
    font-weight: 500

  .popular-topics__item
    display: inline-block
    padding: 10px 15px
    border-radius: 2px
    font-size: 14px
    color: $main-text-color
    margin-bottom: 8px
    font-weight: 500
    @include border-light

    &:hover
      border-color: $popular-topics-border-color

  .popular-topic
    padding: 25px 40px

  // === VIDEOS SECTION (ASIDE) ==============================
  .videos-extra-container
    padding: 30px 0

  .videos__top
    border-bottom: 0

  .videos__top-content
    margin-right: 20px

  .videos__top-video-wrapper
    width: 700px
    height: 390px

  // === SUBSCRIBE SECTION (ASIDE) ==============================
  .subcsribe__block
    padding: 20px
    border-radius: 2px
    @include border-light

  .subcsribe__frequency
    display: block
    font-size: 16px
    font-weight: 500

  .subcsribe__call-on
    display: block
    margin: 10px 0
    font-size: 16px

  .subcsribe__form
    display: inline-flex
    width: 100%
    height: 50px
    padding: 0 15px
    border-radius: 2px
    margin-top: 10px
    @include border-light

  .subcsribe__email-field
    width: 100%

  .subcsribe__email-field::placeholder
    font-size: 16px
    font-weight: 500

  .subcsribe__email-btn
    background-color: transparent
    margin-left: auto
    cursor: pointer

    &:hover .subcsribe__email-btn-icon path
      fill: $main-btn-text-color

  // === NEWS WITH PAGINATION SECTION ==============================
  .news-with-pagination
    display: block
    margin-bottom: 80px

  .news-with-pagination__news-block
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 30px

  .news-with-pagination__news-item
    position: relative
    width: 400px
    margin-bottom: 25px
    height: 430px

  .news-with-pagination__img-wrapper
    display: block
    position: relative
    width: 400px
    height: 230px

  .news-with-pagination__img-wrapper-gradient
    position: absolute
    bottom: 0
    height: 50px
    width: 100%
    background-image: linear-gradient(to top, #000000, transparent)

  .news-with-pagination__category
    position: absolute
    bottom: 20px
    left: 20px
    color: $news-with-pagination-bg-color
    font-size: 14px
    display: flex
    align-items: center
    font-weight: 500
    @include text-hover-underline

  .news-with-pagination__category-icon
    display: inline-block
    width: 5px
    height: 20px
    background-color: $news-with-pagination-icon
    margin-right: 8px

  .news-with-pagination__news-title
    font-size: 20px
    font-weight: 700
    @include text-hover-underline

  .news-with-pagination__stats
    position: absolute
    bottom: 0
    margin: 0

  .news-with-pagination__pagination-block
    display: flex
    align-items: center
    justify-content: center

  .news-with-pagination__btn
    display: inline-flex
    justify-content: center
    align-items: center
    font-size: 16px
    color: $news-with-pagination-btn
    height: 46px
    @include border-light

    &:hover
      border-color: $main-btn-boder-color
      color: $main-text-color

  .news-with-pagination__btn-prev,
  .news-with-pagination__btn-next
    padding: 0 15px

  .pagination__to-left-arrow
    margin-right: 10px

  .pagination__to-right-arrow
    margin-left: 10px

  .news-with-pagination__btn:hover .pagination__to-left-arrow path,
  .news-with-pagination__btn:hover .pagination__to-right-arrow path
    fill: $main-btn-text-color

  .news-with-pagination__pages
    margin: 0 35px

  .news-with-pagination__pages-num
    width: 38px

    &:hover
      border-color: $news-with-pagination-hover
      color: $news-with-pagination-hover

  .news-with-pagination__pages-num--current
    border: 2px solid $news-with-pagination-hover
    color: $news-with-pagination-hover

  .news-with-pagination__pages-more
    margin: 0 10px
    color: $news-with-pagination-btn

  // === NEWS CATEGORIES SECTION ==============================
  .news-categories-block
    display: flex
    flex-direction: column
    margin-bottom: 20px

  .news-category__item-img-wrapper
    display: block
    width: 100%
    height: auto

  .news-category__top
    display: flex
    align-items: center
    justify-content: space-between

  .news-category__all
    color: $all-news-category
    font-size: 14px
    @include text-hover-underline

  .news-category__items
    display: flex
    justify-content: space-between
    padding-top: 15px
    margin-bottom: 35px
    @include border-top-light

  .news-category__item
    width: 230px

  .news-category__item-title
    @include text-hover-underline

  .news-category__item-subcategory
    display: block
    font-size: 14px
    margin: 10px 0
    color: $all-news-category
    @include text-hover-underline

  // === VIDEOS SECTION ==============================
  .videos__block-item--desktop
    display: block

  .videos__top
    padding-bottom: 0
    margin-bottom: 40px
    flex-direction: row

  .videos__top-content
    border-top: 5px solid $videos-section-border-color

  .videos__block
    display: flex
    flex-direction: column
    justify-content: space-between

  .videos__block-item
    width: 300px

  .videos__block
    flex-direction: row
    flex-wrap: wrap

  .videos__top-category
    display: inline-block
    color: $main-text-color 
    font-size: 14px

  .videos__top-content-stats
    position: initial

  .videos-stats__dot--desktop
    display: inline-block

  .videos-all-btn,
  .latest-blog-news__btn
    padding: 15px 255px
    width: auto

  .latest-blog-news__btn
    display: block

  // === FILES SECTION ==============================
  .files
    display: flex
    padding-bottom: 50px

  .files__types-inner
    display: grid
    grid-template-columns: repeat(5, 120px)
    grid-template-rows: repeat(2, 130px)
    grid-gap: 12px

  .files__types-item-icon-wrapper
    width: 46px
    height: 46px

  .files__types-item
    border-radius: 2px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    @include border-light

  .files__types-item-name
    margin-top: 20px
    font-size: 16px
    font-weight: 500

  .files__categories
    width: 100%
    margin-left: 50px

  .files__categories-inner-items
    border-radius: 2px
    padding: 15px 20px
    border-bottom: 0
    @include border-light

  .files__categories-inner-item
    display: block
    color: $main-text-color
    margin-bottom: 15px

    &:last-child
      margin-bottom: 0

  .files__categories-inner__btn
    font-size: 18px
    vertical-align: middle
    padding: 15px 20px
    width: 100%
    border-radius: 2px
    font-weight: 500
    @include border-light

  // === AUTHORS TEAM SECTION ==============================
  .authors-team
    display: block
    margin-bottom: 70px
    background-color: $authors-section-bg-color
    padding: 30px 30px 50px 30px
    box-shadow: 10px 10px 0px 1px $authors-section-box-shadow-color

  .authors-team__inner
    display: flex
    justify-content: space-between
    align-items: center

  .authors-team__heading
    margin-bottom: 30px
    display: inline-block
    border-bottom: 4px solid $authors-section-heading-bottom-color

  .authors-team__list
    list-style-type: none
    margin: 0
    padding-left: 0
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(4, 1fr)
    grid-column-gap: 70px
    grid-row-gap: 25px

  .authors-team__list-item-name
    font-size: 18px
    font-weight: 700

  .authors-team__list-item-position
    font-size: 14px

  .authors-team__info
    width: 575px

  .authors-team___info-highlighted
    font-size: 28px
    margin: 0
    font-weight: 500

  .authors-team__info-text
    font-size: 16px
    margin: 20px 0
    width: 475px

  .authors-team___info-btn
    padding: 15px 35px
    border-radius: 2px

  // === IT NEWS ==============================
  .it-news
    padding-bottom: 25px
    display: flex
    justify-content: space-between

  .latest-it-news__img-wrapper
    width: 600px
    height: 140px

  .latest-it-news
    width: 600px

  .latest-it-news__main,
  .latest-it-news__current
    color: $latest-it-news-breadcrumbs-color
    font-size: 16px

  .latest-it-news__arrow-to-right
    display: inline-block
    margin: 0 10px

  .latest-it-news__rating
    display: flex
    align-items: center

  .latest-it-news__rating-score
    margin-left: 8px
    font-size: 16px

  .it-news__answers
    margin-left: 40px

  .it-news__answers-accordion
    width: 100%
    margin-top: 15px

  .it-news__answers-accordion-item
    background-color: $latest-it-news-accordion-bg-color
    border: 1px solid $latest-it-news-border-color
    border-radius: 4px
    margin-bottom: 15px

  .it-news__answers-question
    padding: 15px 25px
    font-size: 16px
    background-color: $latest-it-news-accordion-bg-color
    width: 100%
    text-align: left
    display: flex
    justify-content: space-between
    align-items: center
    line-height: 1.4
    font-weight: 700

  .it-news__answers-arrow--active
    transform: rotate(180deg)

  .it-news__answers-answer
    max-height: 0
    overflow: hidden
    transition: max-height 0.2s ease-out

  .it-news__answers-answer-text
    padding: 30px
    padding-top: 10px
    margin: 0
    color: $main-text-color
    font-size: 14px

  // === FOOTER ==============================
  .footer
    position: initial

  .footer--mobile
    display: none

  .footer-top-extra-container
    background-color: $footer-top-bg
    display: block

  .footer-bottom-extra-container
    display: block
    background-color: $footer-bottom-bg

  .footer__menu
    padding-top: 40px
    display: flex
    justify-content: space-between

  .footer__menu-list
    list-style-type: none
    padding-left: 0

  .footer__menu-list-title
    color: $footer-menu-list-title-color
    font-size: 16px
    margin-bottom: 20px

  .footer__menu-list-item
    color: $footer-menu-list-item-color
    font-size: 16px
    margin-bottom: 15px
    @include text-hover-underline

    &:hover
      color: $footer-menu-list-item-color-hover

  .footer__social
    padding: 20px 0

  .footer__social-text
    font-size: 16px
    color: $footer-menu-list-title-color
    margin-right: 8px

  .footer__social-media
    color: $footer-social-media-color

  .footer__bottom
    padding-top: 30px
    padding-bottom: 15px
    display: flex
    align-items: center
    justify-content: space-between
    position: relative

  #footer__bottom-arrow-to-top
    position: absolute
    right: 0
    bottom: 75px

  .footer__bottom-content-text
    display: inline-block
    font-size: 14px
    color: $footer-bottom-text-color
    width: 900px
    margin-bottom: 10px

  .footer__bottom-age-limit
    display: block
    font-size: 14px
    color: $footer-bottom-text-color

@media (min-width: 1200px)
  .container
    width: 1140px

  .top-img-wrapper
    width: 650px

  .top-news-item
    width: 270px

  .discuss-news__user-name
    display: block

  .news-with-pagination__news-item
    width: 350px
    height: 400px

  .news-with-pagination__img-wrapper
    width: 100%
    height: auto

  .news-category__item
    width: 275px

@media (min-width: 1300px)
  .container
    width: 1240px

  .top-img-wrapper
    width: 800px
    height: 400px

  .top-news-item
    width: 295px

  .top-news__img-wrapper
    height: 160px

  .news-category__item
    width: 295px

  .news-with-pagination__news-item
    width: 400px

@media (min-width: 1600px)
  .container
    width: 1320px
